{% extends 'base_template.html' %}

{% block main_content %}
<div class="card mt-5">
    <div class="card-body">
        <form action="/select_cards" method="post">
            <h3>Triple Triad (Fan Project)</h3>
            <hr />

            <div class="text-secondary">
                <p>
                    Triple Triad is a digital card game recreation inspired by the original game from Final Fantasy VIII
                    by Square Enix.
                </p>
                <p>
                    This project is a non-commercial, fan-made tribute designed for educational and entertainment
                    purposes only.
                </p>
            </div>

            <input type="hidden" name="game_id" value="{{ game_id }}" />
            <legend class="mt-0">Select mode:</legend>

            {% for value, label in select_modes.items() %}
            <div class="form-check">
                <label class="form-check-label">
                    <input name="mode" class="form-check-input" type="radio" value="{{ value }}" required
                    {% if loop.index == 1 %}checked=""{% endif %} />
                    {{ label }}
                </label>
            </div>
            {% endfor %}

            <legend class="mt-3 mb-0">Selection Rules:</legend>
            {% for value, label in selection_rules.items() %}
            <div class="form-check">
                <label class="form-check-label">
                    <input name="{{ value }}" class="form-check-input" type="checkbox" value="1" />
                    {{ label }}
                </label>
            </div>
            {% endfor %}

            <legend class="mt-3 mb-0">Game Rules:</legend>
            {% for value, label in game_rules.items() %}
            <div class="form-check">
                <label class="form-check-label">
                    <input name="{{ value }}" class="form-check-input" type="checkbox" value="1" 
                    {% if loop.index == 1 %}checked=""{% endif %} />
                    {{ label }}
                </label>
            </div>
            {% endfor %}

            <legend class="mt-3 mb-0">Draw Rules:</legend>
            {% for value, label in draw_rules.items() %}
            <div class="form-check">
                <label class="form-check-label">
                    <input name="draw_rules[]" class="form-check-input" type="checkbox" value="{{ value }}" />
                    {{ label }}
                </label>
            </div>
            {% endfor %}

            <div class="mt-4">
                <hr />
                <button class="btn btn-primary py-2 w-100" type="submit">
                    Next
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}{% endblock %}