{% extends 'base_template.html' %}

{% block main_content %}
<div id="board">
    <div class="row">
        <div class="col-8">
            <div class="p-3">
                <div class="card">
                    <div class="card-body">
                        <div id="carousel-select-cards" class="carousel slide" data-bs-ride="carousel"
                            data-bs-interval="120000">
                            <div class="carousel-inner">
                                {% for chunk in selections %}
                                {% set level = loop.index %}
                                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                    <div class="mb-3 fs-5 fw-bold">Level {{ level }}</div>
                                    <ul class="card-selection p-0">
                                        {% for id, card in chunk.items() %}
                                        <li class="select-card list-group-item d-flex justify-content-between align-items-start mb-2"
                                            id="{{ card.id }}" is-selected="0"
                                            max-selection="{% if level >= 8 %}1{% else %}99{% endif %}"
                                            onclick="select_this_card(this, {{ card.id }})">
                                            {{ card.name }}
                                            <span class="max-selection">
                                                {% if level >= 8 %}1{% else %}99{% endif %}
                                            </span>
                                        </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                                {% endfor %}
                            </div>
                            <hr class="mt-0" />
                            <div class="row" class="carousel-controls">
                                <div class="col-3 text-start">
                                    <button class="btn btn-outline-secondary py-1 carousel-button-prev" type="button"
                                        data-bs-target="#carousel-select-cards" data-bs-slide="prev">
                                        Prev.
                                    </button>
                                </div>
                                <div class="col-6 text-center">
                                    <form method="get" action="/game">
                                        <input type="hidden" name="hand_name" value="{{ hand_name }}" />
                                        <input type="hidden" name="session_id" value="{{ session_id }}" />
                                        <button id="btn-start-session" class="btn btn-primary py-1" disabled="1"
                                            type="submit" autocomplete="off">
                                            Start game
                                        </button>
                                    </form>
                                </div>
                                <div class="col-3 text-end">
                                    <button class="btn btn-outline-secondary py-1 carousel-button-next" type="button"
                                        data-bs-target="#carousel-select-cards" data-bs-slide="next">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="players-deck player-one">
                <ul class="cards-holders b"></ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}{% endblock %}