<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FF8 Triple Triad</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.png" />
    <link rel="stylesheet" href="/public/css-js/fontawesome-free-6.1.2-web/css/all.min.css" />
    <link rel="stylesheet" href="/public/css-js/bootswatch-5.3/bootstrap.min.css?v={{ v }}" />
    <link rel="stylesheet" href="/public/css-js/app.css?v={{ v }}" />
    <script src="/public/css-js/fontawesome-free-6.1.2-web/all.js" data-auto-a11y="true"></script>
</head>

<body>
    <main class="container">
        <div class="card mt-5">
            <div class="card-body">
                <div id="board">
                    <div class="players-deck player-two">
                        <ul class="cards-holders a"></ul>
                    </div>
                    <div id="cards-deck">
                        <ul class="cards-holders ab"></ul>
                    </div>
                    <div class="players-deck player-one">
                        <ul class="cards-holders b"></ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="/public/css-js/jquery-3.7.0.min.js"></script>
<script src="/public/css-js/popper-2.11.6.min.js"></script>
<script src="/public/css-js/bootstrap-5.3.1/bootstrap.min.js"></script>
<script src="/public/css-js/app.js?v={{ v }}"></script>

</html>