* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img,
svg {
	vertical-align: inherit;
}

html,
body {
	font-size: 13px;
	background-color: #f1f1f1;
}

.container {
	width: 648px;
}

.logo {
	height: 35px;
	margin-bottom: -11px;
}

#board {
	background: url('../images/board.png') center center;
	background-size: 100% 100%;
	width: 595px;
	height: 430px;
	position: relative;
}

#board #cards-deck {
	width: 291px;
	height: 366px;
	position: absolute;
	top: 29px;
	left: 153px;
}

#board #cards-deck .cards-holders {
	margin: 0;
	padding: 7px 0 0;
}

#board #cards-deck .cards-holders li {
	display: inline-block;
	width: 90px;
	height: 120px;
	margin: -3px 7px 0 0;
}

#board #cards-deck .cards-holders li .card-image {
	width: 90px;
	height: 120px;
	cursor: pointer;
}

#board #cards-deck .cards-holders li img {
	cursor: default;
}

#board .players-deck {
	position: absolute;
	top: 100px;
	left: 35px;
}

#board .players-deck .cards-holders {
	margin: 0;
	padding: 0;
}

#board .players-deck.player-one {
	left: inherit;
	right: 35px;
}

#board .players-deck .cards-holders li {
	display: block;
	width: 93px;
	height: 120px;
	margin-top: -65px;
}

#board .players-deck .cards-holders li img {
	cursor: pointer;
}